#header {
  font-size: 7vh;
  background-color: rgb(197, 197, 197);
  padding: 1.1vh;
  font-style: italic;
  height: 10vh;
}

body {
  margin: 0vh;
  height: 100vh;
}

#main {
  position: absolute;
  height: 90vh;
  width: 100vw;
  top: 10vh;
}

#login {
  position: absolute;
  top: 1.8vh;
  right: 1.8vh;
  font-size: 2.8vh;
  padding: 1.4vh 2.8vh;
}

#left_sidebar {
  background-color: rgb(220, 220, 220);
  width: 20vw;
  height: 90vh;
  list-style-position: inside;
  float: left;
}

#left_sidebar button {
  margin-left: 1.1vh;
  margin-top: 1.1vh;
  font-size: 2.5vh;
}

#map {
  position: absolute;
  background-color: rgb(50, 50, 50);
  left: 20vw;
  width: 60vw;
  height: 100%;
}

#right_sidebar {
  background-color: rgb(220, 220, 220);
  width: 20vw;
  height: 90vh;
  float: right;
}

#right_sidebar button {
  margin-left: 1.1vh;
  margin-top: 1.1vh;
  font-size: 2.5vh;
}


#loc_select {
  width: 19vw;
  margin-top: 1.1vh;
  margin-left: 1.1vh;
  font-size: 2.5vh;
}

#right_sidebar input {
  margin-top: 1.1vh;
  margin-left: 1.1vh;
  max-width: 95%;
  font-size: 2.26vh;
}

#right_sidebar section {
  margin-top: 35vh;
  border-top: solid #777777 0.275vh;
  padding: 1.1vh;
}

p {
  font-size: 85%;
  text-align: center;
  font-size: 2.5vh;
}

ul {
  font-size: 2.5vh;
  padding-inline-start: 3vw;
  list-style-type: none;
}

#username {
  font-size: 3.4vh;
  font-style: normal;
  float: right;
  margin-right: 18.7vh;
  margin-top: 2.1vh;
}

#locs_from_db {
  display: none;
}

#hotspots_from_db {
  display: none;
}

#visited_from_db {
  display: none;
}
